/* Estilos globales */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  min-height: 100vh; /* Asegura que el body ocupe al menos el 100% de la altura de la ventana */
  flex-direction: column; /* Organiza los elementos de arriba hacia abajo */
}

h1 {
  color: #333;
  text-align: center;
  margin-bottom: 10px;
}

form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px; /* El formulario se adapta al 100% del ancho hasta un máximo de 600px */
  margin: 0 auto; /* Asegura que el formulario esté centrado horizontalmente */
  box-sizing: border-box; /* Para asegurar que el padding no afecte el tamaño del formulario */
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0 20px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total del campo */
}

input[type="radio"], input[type="checkbox"] {
  width: auto;
  margin-right: 8px;
}

.form-group {
  margin-bottom: 20px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%; /* Hace que el botón ocupe todo el ancho disponible */
  box-sizing: border-box;
}

button:hover {
  background-color: #45a049;
}

.footer {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  color: #555;
  text-align: center;
  margin: 10px 0;
}

.footer a {
  color: #007BFF;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer strong {
  font-weight: bold;
}

.footer p {
  margin: 5px 0;
}
